$container: 1324;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);

$accent: #1dbdf5;
$blue: #1f74ca;
$black: #111111;
$white: #fff;
$gray: #9e958d;
$linear: linear-gradient(89deg, #1e73c9 1.09%, #1dbbf4 100%);
