.params-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    border-radius: 20px;

    &:has(.params-item__wrap) {
        background: $linear;
        padding: 2px;
    }

    @media (max-width: 768px) {
        padding: 1px;
        border-radius: 10px;
    }

    // .params-item__wrap

    &__wrap {
        border-radius: 20px;
        background: $white;

        @media (max-width: 768px) {
            border-radius: 10px;
        }
    }

    // .params-item__flex

    &__flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .params-item__left

    &__left {
        padding: 18px 35px 18px 25px;
        background: $linear;
        border-radius: 20px 60px 60px 20px;
        margin: -2px;

        @media (max-width: 1200px) {
            padding: 18px 25px;
        }

        @media (max-width: 768px) {
            padding: 12px 20px 12px 13px;
        }
    }

    .icon {
        width: 72px;
        height: 72px;
        flex: 0 0 auto;

        border-radius: 50%;
        background: $linear;

        display: flex;
        align-items: center;
        justify-content: center;

        filter: drop-shadow(0px 4px 11px rgba(17, 17, 17, 0.3));

        @media (max-width: 768px) {
            width: 39px;
            height: 39px;
        }

        img,
        svg {
            width: 39px;
            height: 39px;
            flex: 0 0 auto;
            fill: $white;

            @media (max-width: 768px) {
                width: 22px;
                height: 22px;
            }
        }
    }

    // .params-item__right

    &__right {
        text-align: center;
        flex: 1 1 auto;
        padding-right: 20px;
        line-height: 1;

        @media (max-width: 768px) {
            line-height: 1.5;
            padding-right: 13px;
        }

        label {
            color: $blue;
            font-weight: 600;
            display: block;

            @include adaptive-value("font-size", 20, 14, 1);
        }

        span {
            margin-top: 9px;
            display: block;

            @include adaptive-value("font-size", 20, 12, 1);

            @media (max-width: 768px) {
                margin-top: 3px;
            }
        }
    }

    // .params-item__extra

    &__extra {
        padding: 20px 20px 30px 14px;

        @media (min-width: 769px) {
            line-height: 1;
        }

        @media (max-width: 768px) {
            padding: 8px 14px 15px 14px;
        }

        & > :not(:last-child) {
            margin-bottom: 18px;

            @media (max-width: 768px) {
                margin-bottom: 5px;
            }
        }

        label {
            display: block;
            font-weight: 600;

            @include adaptive-value("font-size", 20, 12, 1);
        }

        span {
            display: block;
            margin-top: 8px;
            @include adaptive-value("font-size", 18, 10, 1);

            @media (max-width: 768px) {
                margin-top: 2px;
            }
        }

        li {
            padding-left: 1.5em;
            margin-left: -0.5em;
            position: relative;
            line-height: normal;

            @include adaptive-value("font-size", 20, 10, 1);
            @media (max-width: 768px) {
                line-height: 1.2;
            }

            &:not(:last-child) {
                margin-bottom: 4px;

                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }

            &:before {
                position: absolute;
                content: "\00B7";
                width: 1em;
                height: 1em;
                left: 0.5em;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        p:has(img, svg) {
            display: flex;
            align-items: center;
            gap: 7px;
            color: $blue;

            @include adaptive-value("font-size", 20, 10, 1);

            @media (max-width: 768px) {
                gap: 5px;
            }

            img,
            svg {
                width: 16px;
                height: 16px;
                flex: 0 0 auto;
                fill: currentColor;

                @media (max-width: 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.result-item {
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0px 0px 20px 0px rgba($color: #000000, $alpha: 0.25);
    border-radius: 20px;
    padding: 20px 18px;

    @media (max-width: 768px) {
        border-radius: 10px;
        padding: 10px;
    }

    h3 {
        line-height: 1;

        @include adaptive-value("font-size", 20, 12, 1);
        @include adaptive-value("margin-bottom", 30, 8, 1);
    }

    // .result-item__flex

    &__flex {
        display: flex;
        gap: 20px;

        @media (max-width: 1024px) {
            gap: 15px;
        }

        @media (max-width: 768px) {
            gap: 6px;
        }
    }

    .grid {
        justify-content: space-between;
    }

    // .result-item__wrap

    &__wrap {
        @media (min-width: 769px) {
            max-width: 503px;
        }

        label {
            line-height: 1.16;
            display: block;

            @include adaptive-value("font-size", 16, 12, 1);
            @include adaptive-value("margin-bottom", 20, 8, 1);
        }
    }

    // .result-item__score

    &__score {
        width: 78px;
        flex: 0 0 auto;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0px 2px 10.6px 3px rgba($color: #000000, $alpha: 0.09) inset;
        text-align: center;
        padding: 11px;

        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        @media (max-width: 768px) {
            width: 38px;
            font-size: 10px;
            padding: 7px;
        }
    }

    // .result-item__scale

    &__scale {
        flex: 1 1 auto;

        p {
            display: grid;
            grid-template-columns: repeat(8, 1fr);

            color: #666;
            font-size: 14px;
            line-height: 1.33;
            margin-bottom: 6px;

            @media (max-width: 768px) {
                font-size: 10px;
                margin-bottom: 3px;
                line-height: normal;
            }

            & > :not(:first-child) {
                transform: translate(-16%, 0);
            }
        }

        div {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            position: relative;

            width: 100%;
            height: 17px;
            overflow: hidden;
            border-radius: 10px;
            background-color: $white;
            box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.1) inset;

            & > :not(:last-child) {
                border-right: 1px solid rgba(15, 51, 87, 0.1);
            }

            &:before,
            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }

            &:before {
                max-width: var(--norma);
                background-color: rgba($color: $accent, $alpha: 0.65);
            }

            &:after {
                border: 2px solid $blue;
                max-width: var(--patient);
                z-index: 1;

                @media (max-width: 768px) {
                    border-width: 1px;
                }
            }

            &.red {
                &:after {
                    border-color: $red;
                }
            }
        }
    }
}

.nutrition-graphic__item {
    width: 235px;
    height: 235px;
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50%;
    position: relative;
    background-color: $white;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.15) inset;

    text-align: center;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
    }

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .percent {
        z-index: 1;
        position: relative;
        display: block;
        @include adaptive-value("font-size", 25, 16, 1);
        font-weight: 600;
        color: rgba($color: $accent, $alpha: 0.65);
    }

    .status {
        z-index: 1;
        position: relative;
        display: block;
        @include adaptive-value("font-size", 18, 10, 1);

        @media (max-width: 768px) {
            position: absolute;
            bottom: -10px;
            transform: translate(0, 100%);
            left: 0;
            right: 0;
        }
    }

    &.deficit {
        .circle-foreground {
            stroke: $red;
        }
    }
}

.nutrition-table__item {
    @media (min-width: 769px) {
        border-radius: 20px;
        background: $white;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 36px 20px;
    }

    &:not(:last-child) {
        @include adaptive-value("margin-bottom", 60, 14, 1);

        @media (max-width: 1024px) {
            position: relative;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #d9d9d9;
                @include adaptive-value("margin-top", 60, 14, 1);
            }
        }
    }

    & > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        font-size: 14px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 32px;
    }

    .parent {
    }

    table {
        thead {
            margin-bottom: 26px;
        }

        tr {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 9px;

            @media (max-width: 1024px) {
                gap: 10px;
                margin-bottom: 2px;
            }

            & > :first-child {
                width: 23.832%;

                @media (max-width: 1024px) {
                    width: 50%;
                }
            }

            & > :nth-child(2) {
                flex: 1 1 auto;
            }

            & > :nth-child(3) {
                white-space: nowrap;
            }

            &.parent {
                margin-bottom: 16px;

                @media (max-width: 1024px) {
                    margin-bottom: 10px;
                }
            }

            &.red {
                & > :nth-child(2):after {
                    background-color: rgba($color: $red, $alpha: 0.65);
                }
            }
            &.blue {
                background-color: rgba($color: $accent, $alpha: 0.1);
            }
        }

        th,
        td {
            @include adaptive-value("font-size", 16, 10, 1);

            &:nth-child(2) {
                position: relative;
                border-radius: 100px;
                height: 16px;

                background-color: $white;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset;

                display: flex;
                align-items: center;
                padding: 2px 15px;

                color: $white;
                font-size: 10px;
                font-weight: 500;
                z-index: 1;

                @media (max-width: 1024px) {
                    height: 14px;
                    min-width: 113px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    background-color: rgba($color: $accent, $alpha: 0.65);
                    max-width: var(--width);
                }
            }

            &:nth-child(3) {
                color: #7f7f7f;
                @include adaptive-value("font-size", 16, 10, 1);
            }
        }

        th {
            &:first-child {
                @include adaptive-value("font-size", 20, 12, 1);
            }

            &:nth-child(2) {
                height: 24px;

                @media (max-width: 1024px) {
                    height: 16px;
                }
            }

            &:nth-child(3) {
                font-weight: 400;
            }
        }

        td {
            &:first-child {
                font-weight: 500;
            }
        }
    }
}

.nutrition-diagram__item {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 768px) {
        border-radius: 10px;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            inset: -1px;
            background: $linear;
            border-radius: inherit;
            z-index: -1;
        }
    }

    .canvas {
        position: relative;
        width: 200px;
        height: 200px;

        border-radius: 50%;

        @media (max-width: 1024px) {
            width: 120px;
            height: 120px;
        }

        @media (max-width: 768px) {
            width: 64px;
            height: 64px;
        }

        canvas {
            position: absolute;
            left: 0;
            top: -5px;
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            .circle-background {
                r: calc((200 - 20 - 10) * 0.5);
                cx: 50%;
                cy: 50%;
                fill: none;
                $foregroundColor: $accent;
                stroke: rgba($color: $black, $alpha: 0.05);
                stroke-width: 30px;
                opacity: 0.8;

                @media (max-width: 1024px) {
                    r: calc((120 - 10 - 10) * 0.5);
                    stroke-width: 10px;
                }

                @media (max-width: 768px) {
                    r: calc((64 - 7 - 10) * 0.5);
                    stroke-width: 7px;
                }
            }
        }
    }

    // .nutrition-diagram__item-top

    &-top {
        min-height: 44px;
        display: flex;
        align-items: center;

        border-radius: 20px 20px 0px 0px;
        background: linear-gradient(90deg, rgba(29, 189, 245, 0.16) 0%, rgba(29, 189, 245, 0) 100%);

        padding-top: 10px;
        padding-bottom: 10px;

        @include adaptive-value("padding-inline", 30, 8, 1);
        @include adaptive-value("padding-top", 10, 5, 1);
        @include adaptive-value("padding-bottom", 10, 5, 1);

        @media (max-width: 768px) {
            border-radius: 10px 10px 0px 0px;
        }

        h3 {
            color: $blue;
            line-height: 1.09;

            @include adaptive-value("font-size", 22, 14, 1);
        }
    }

    // .nutrition-diagram__item-bottom

    &-bottom {
        @include adaptive-value("padding-top", 28, 10, 1);
        @include adaptive-value("padding-inline", 24, 8, 1);
        @include adaptive-value("padding-bottom", 34, 14, 1);

        display: flex;
        justify-content: space-between;
        gap: 10px;

        .canvas {
            flex: 0 0 auto;
        }

        table {
            max-width: 362px;

            tr {
                display: flex;
                gap: 10px;
                justify-content: space-between;

                @include adaptive-value("font-size", 20, 10, 1);

                &:not(:last-child) {
                    @include adaptive-value("margin-bottom", 10, 2, 1);
                }

                & > :first-child {
                    font-weight: 600;
                    width: 2em;

                    color: var(--color);

                    @media (max-width: 768px) {
                        min-width: 54px;
                    }
                }

                & > :nth-child(2) {
                    flex: 1 1 auto;
                    max-width: 140px;
                }

                & > :last-child {
                    color: #666666;
                    width: 90px;

                    @media (max-width: 768px) {
                        min-width: 54px;
                        width: auto;
                    }
                }
            }
        }
    }
}
