.section {
    margin-bottom: 100px;

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        @include adaptive-value("margin-bottom", 40, 10, 1);

        &._center {
            @media (min-width: 1024px) {
                text-align: center;
            }
        }

        &._accent {
            color: $accent;
        }

        &._small {
            text-align: center;

            h2 {
                @include adaptive-value("font-size", 32, 16, 1);
                color: $blue;
            }
        }

        &:has(.tabs) {
            .text-accent {
                @include adaptive-value("margin-top", 40, 30, 1);
            }
        }
    }

    // .section__linear

    &__linear {
        text-align: center;
        color: $white;
        background: $linear;
        @include adaptive-value("margin-bottom", 87, 38, 1);
        @include adaptive-value("padding-top", 53, 11, 1);
        @include adaptive-value("padding-bottom", 53, 11, 1);
    }
}

.intro {
    margin-bottom: 0;
    background-color: rgba($color: #7fcefb, $alpha: 0.32);

    @include adaptive-value("padding-top", 116, 32, 1);
    @include adaptive-value("padding-bottom", 121, 32, 1);

    p {
        @include adaptive-value("font-size", 22, 10, 1);
        color: #000;

        &:not(:last-child) {
            margin-bottom: 12px;

            @media (max-width: 1024px) {
                margin-bottom: 8px;
            }
        }
    }
}

.params {
    @include adaptive-value("margin-bottom", 123, 39, 1);

    // .params-flex

    &-flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1024px) {
            display: block;
        }

        // .params-flex__image

        &__image {
            display: flex;
            justify-content: space-between;
            flex: 0 0 auto;
            width: 100%;
            width: 477px;

            @media (max-width: 1200px) {
                width: 410px;
            }

            @media (max-width: 1024px) {
                margin-inline: auto;
                width: 210px;
            }

            ol {
                margin-top: 227px;
                max-width: 203px;
                position: relative;
                z-index: 1;

                @media (max-width: 1024px) {
                    width: 52px;
                    font-size: 10px;
                    margin-top: 73px;
                }

                & > :not(:last-child) {
                    margin-bottom: 8px;
                }

                & > :nth-child(3) {
                    margin-top: 26px;
                }

                li {
                    & > :first-child {
                        font-weight: 600;
                    }

                    img {
                        max-width: none;
                    }

                    span {
                        display: block;
                    }

                    &#params-brest {
                        img {
                            width: 323px + 5px;
                            margin-bottom: -10px;
                            margin-top: 2px;

                            @media (max-width: 1200px) {
                                width: 323px + 5px - 67px;
                            }

                            @media (max-width: 1024px) {
                                width: 143px + 5px;
                                margin-bottom: -27px;
                            }
                        }
                    }
                    &#params-waise {
                        img {
                            width: 347px + 5px;
                            margin-top: 1px;
                            margin-bottom: -9px;

                            @media (max-width: 1200px) {
                                width: 347px + 5px - 67px;
                            }

                            @media (max-width: 1024px) {
                                width: 153px + 5px;
                                margin-bottom: -8px;
                            }
                        }
                    }
                    &#params-wrist {
                        img {
                            width: 271px + 5px;
                            margin-top: 1px;
                            margin-bottom: -9px;

                            @media (max-width: 1200px) {
                                width: 271px + 5px - 67px;
                            }

                            @media (max-width: 1024px) {
                                width: 120px + 5px;
                                margin-bottom: -3px;
                            }
                        }
                    }
                    &#params-hips {
                        img {
                            width: 305px + 5px;
                            margin-top: -24px;

                            @media (max-width: 1200px) {
                                width: 305px + 5px - 67px;
                            }

                            @media (max-width: 1024px) {
                                width: 133px + 5px;
                            }
                        }
                    }
                }
            }

            .img {
                flex: 0 0 auto;

                img {
                    width: 209px;
                    height: 880px;

                    @media (max-width: 1024px) {
                        width: 92px;
                        height: 388px;
                    }
                }
            }
        }

        // .params-flex__content

        &__content {
            flex: 1 1 auto;
            max-width: 652px;
            margin-top: 34px;

            @media (max-width: 1024px) {
                max-width: none;
                margin-top: 30px;
            }
        }
    }

    // .params-info

    &-info {
        grid-column: span 2;
        overflow: visible;

        margin-top: 40px;
        margin-left: 40px;

        @media (max-width: 768px) {
            grid-column: unset;
            margin-left: 0;
            margin-top: 28px;
        }

        .params-item__wrap {
            padding-top: 30px;
            padding-bottom: 30px;

            @include adaptive-value("padding-inline", 60, 15, 1);
        }

        &.large .params-item__wrap {
            @media (min-width: 769px) {
                @include adaptive-value("padding-top", 60, 30, 1);
                @include adaptive-value("padding-bottom", 60, 30, 1);
            }
        }

        span {
            display: block;
            color: $blue;
            font-weight: 600;
            margin-bottom: 13px;

            @media (min-width: 769px) {
                line-height: 1.28;
            }

            @include adaptive-value("font-size", 20, 14, 1);
        }

        h3 {
            color: $blue;
            @include adaptive-value("font-size", 32, 14, 1);
            @include adaptive-value("margin-bottom", 40, 13, 1);
        }

        p {
            font-size: 18px;

            @media (min-width: 769px) {
                line-height: 1.44;
            }

            @include adaptive-value("font-size", 18, 12, 1);
        }

        .icon {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);

            @media (max-width: 768px) {
                width: 46px;
                height: 46px;
                transform: translate(0, -50%);
            }
        }
    }

    // .params-text

    &-text {
        margin-top: 33px;
        color: #7f7f7f;
        font-weight: 400;
        line-height: normal;

        @include adaptive-value("font-size", 16, 10, 1);

        @media (max-width: 768px) {
            margin-top: 0;
        }
    }

    .params-item {
        height: fit-content;
    }

    // .params-male

    &-male {
        .params-flex__image {
            width: 504px;

            @media (max-width: 1200px) {
                width: 410px;
            }

            @media (max-width: 1024px) {
                width: 210px;
            }

            ol {
                max-width: 203px;

                @media (max-width: 1200px) {
                    max-width: 140px;
                }

                @media (max-width: 1024px) {
                    margin-top: 77px;
                }

                li {
                    &#params-brest {
                        img {
                            width: 323px;
                            margin-bottom: -10px;
                            margin-top: 2px;

                            @media (max-width: 1200px) {
                                width: 223px;
                            }

                            @media (max-width: 1024px) {
                                width: 128px;
                                margin-bottom: -25px;
                            }
                        }
                    }
                    &#params-waise {
                        img {
                            width: 347px;
                            margin-top: 1px;
                            margin-bottom: -9px;

                            @media (max-width: 1200px) {
                                width: 247px;
                            }

                            @media (max-width: 1024px) {
                                width: 138px;
                                margin-bottom: -8px;
                            }
                        }
                    }
                    &#params-wrist {
                        img {
                            width: 271px;
                            margin-top: 1px;
                            margin-bottom: -6px;

                            @media (max-width: 1200px) {
                                width: 175px;
                            }

                            @media (max-width: 1024px) {
                                width: 105px;
                                margin-bottom: -3px;
                            }
                        }
                    }
                    &#params-hips {
                        img {
                            width: 305px;
                            margin-top: -24px;

                            @media (max-width: 1200px) {
                                width: 210px;
                                margin-top: -14px;
                            }

                            @media (max-width: 1024px) {
                                width: 123px;
                                margin-top: -23px;
                            }
                        }
                    }
                }
            }

            .img {
                flex: 0 0 auto;

                img {
                    width: 264px;
                    height: 877px;

                    @media (max-width: 1024px) {
                        width: 115px;
                        height: 388px;
                    }
                }
            }
        }
    }
}

.results {
    @include adaptive-value("margin-bottom", 76, 37, 1);

    // .results-compare

    &-compare {
        margin-bottom: 57px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 23px;

        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            line-height: 1.12;

            @include adaptive-value("font-size", 14, 10, 1);

            & > :first-child {
                display: block;
                flex: 0 0 auto;
                width: 18px;
                height: 18px;
                border-radius: 50%;

                @media (max-width: 768px) {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    // .results-norm

    &-norm {
        & > :first-child {
            background-color: rgba($color: $accent, $alpha: 0.65);
        }
    }

    // .results-patient

    &-patient {
        & > :first-child {
            position: relative;

            &:before,
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50%;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border: 2px solid $accent;
            }

            &:before {
                border-left-color: transparent;
                border-bottom-color: transparent;
                transform: rotate(45deg);
            }

            &:after {
                border-color: $red;
                border-left-color: transparent;
                border-bottom-color: transparent;
                transform: rotate(-135deg);
            }
        }
    }

    .section__body > .grid {
        @media (min-width: 769px) {
            & > :nth-child(4n + 3),
            & > :nth-child(4n + 4) {
                @include adaptive-value("margin-bottom", 40, 20, 1);
            }
        }

        @media (max-width: 768px) {
            & > :nth-child(4n) {
                margin-bottom: 12px;
                position: relative;

                &:after {
                    bottom: -12px;
                    left: 0;
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #d9d9d9;
                }
            }
        }
    }

    // .results-text

    &-text {
        color: #7f7f7f;

        @include adaptive-value("font-size", 16, 10, 1);
        @include adaptive-value("margin-top", 60, 12, 1);
    }

    // .results-blue

    &-blue {
        @include adaptive-value("padding-top", 84, 24, 1);
        @include adaptive-value("padding-bottom", 51, 24, 1);
        background-color: #e9fcff;

        .section__body > .grid {
            max-width: 1100px;
            margin-inline: auto;
            gap: 40px;

            @media (max-width: 768px) {
                gap: 12px;
            }
        }

        .result-item {
            h3 {
                @include adaptive-value("margin-bottom", 20, 12, 1);
            }

            &__flex {
                align-items: flex-end;

                &:not(:last-child) {
                    @include adaptive-value("margin-bottom", 20, 8, 1);
                }
            }

            &__score {
                @media (min-width: 769px) {
                    padding: 2px;
                }
            }
        }
    }

    // .results-conclusion

    &-conclusion {
        @include adaptive-value("margin-bottom", 195, 30, 1);
        @include adaptive-value("margin-top", 102, 56, 1);

        .params-info {
            margin-inline: auto;
            max-width: 1068px;
        }
    }
}

.lifestyle {
    .section__linear {
        @include adaptive-value("margin-bottom", 163, 30, 1);
    }

    .section__body > .grid {
        .grid-item {
            display: flex;
            flex-direction: column;
            gap: 17px;

            @media (max-width: 768px) {
                gap: 12px;
            }

            .params-item {
                flex: 1 1 auto;
            }
        }
    }

    .params-item {
        .icon {
            @media (min-width: 769px) {
                width: 50px;
                height: 50px;

                img,
                svg {
                    width: 26px;
                    height: 26px;
                }
            }
        }

        &__flex {
            background: linear-gradient(90deg, rgba(29, 189, 245, 0.16) 15%, rgba(29, 189, 245, 0) 100%);
        }

        &__left {
            @media (min-width: 769px) {
                padding: 9px 24px 8px 18px;
            }

            border-bottom-left-radius: 0;
        }

        &__extra {
            line-height: normal;

            @media (min-width: 769px) {
                padding: 20px 30px;
            }

            @media (max-width: 768px) {
                padding-top: 12px;
                padding-bottom: 12px;
            }

            label {
                margin-bottom: 2px;
            }

            ol:not(:last-child) {
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .params-info {
        @media (min-width: 769px) {
            margin-top: 80px;
            grid-column: span 3;

            .icon {
                width: 80px;
                height: 80px;

                img,
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.nutrition {
    @include adaptive-value("margin-bottom", 120, 30, 1);

    .section__linear {
        @include adaptive-value("margin-bottom", 140, 30, 1);
    }

    // .nutrition-title

    &-title {
        display: block;

        @include adaptive-value("margin-bottom", 60, 25, 1);
        @include adaptive-value("font-size", 22, 12, 1);

        & > :first-child {
            font-weight: 600;
            color: $blue;
        }
    }

    .section__body > .grid {
        max-width: 1100px;
        margin-inline: auto;
        gap: 0;
    }

    .results {
        &-compare {
            justify-content: flex-start;

            @include adaptive-value("margin-bottom", 20, 10, 1);
        }
    }

    .params-item {
        @include adaptive-value("margin-bottom", 60, 25, 1);

        &__flex {
            background: linear-gradient(90deg, rgba(29, 189, 245, 0.16) 0%, rgba(15, 51, 87, 0) 100%);

            @media (min-width: 769px) {
                gap: 20px;
            }
        }

        &__left {
            border-bottom-left-radius: 0;

            @media (min-width: 769px) {
                padding: 9px 24px 9px 18px;
            }
        }

        .icon {
            @media (min-width: 769px) {
                width: 50px;
                height: 50px;

                img,
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &__right {
            text-align: left;

            @media (max-width: 768px) {
                line-height: normal;
            }
        }

        &__text {
            @include adaptive-value("padding", 30, 12, 1);
        }

        .results-compare > span {
            @include adaptive-value("font-size", 20, 10, 1);
        }
    }

    .fluid-amount {
        // .fluid-amount__result

        &__result {
            display: flex;
            justify-content: space-around;
            gap: 40px;
            margin-top: 15px;
            max-width: 640px;

            font-weight: 600;
            line-height: 1;
            color: $accent;

            @include adaptive-value("font-size", 16, 10, 1);

            @media (max-width: 768px) {
                line-height: normal;
                margin-top: 4px;
                justify-content: space-between;
                gap: 20px;
            }

            .red {
                color: $red;
            }
        }

        &__patient {
        }

        // .fluid-amount__norma

        &__norma {
        }
    }

    .calorie-distribution {
        // .calorie-distribution__flex

        &__flex {
            display: flex;
            text-align: center;

            time {
                display: block;
                color: $white;
                line-height: 0.87;
                border-radius: 100px;
                background-color: $blue;
                text-align: center;
                padding: 6px;

                @include adaptive-value("font-size", 18, 10, 1);

                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 768px) {
                    line-height: normal;
                }
            }

            span {
                display: block;
                line-height: 0.75;

                @include adaptive-value("font-size", 20, 8, 1);
                @include adaptive-value("margin-top", 18, 3, 1);

                @media (max-width: 768px) {
                    line-height: normal;
                }
            }
        }
    }

    // .nutrition-graphic

    &-graphic {
        @media (max-width: 768px) {
            @include adaptive-value("padding-top", 30, 15, 1);
            @include adaptive-value("padding-bottom", 60, 35, 1);

            background-color: rgba($color: $accent, $alpha: 0.1);
            width: 100vw;
            margin-left: -12px;
            padding-inline: 12px;
        }

        h3 {
            @include adaptive-value("margin-bottom", 40, 27, 1);
            text-align: center;
            color: $blue;
        }

        // .nutrition-graphic__flex

        &__flex {
            display: flex;
            justify-content: center;
            gap: 85px;

            @media (max-width: 1024px) {
                gap: 20px;
                justify-content: space-between;
            }
        }
    }

    // .nutrition-info

    &-info {
        @include adaptive-value("margin-bottom", 60, 30, 1);
    }
}

.nutrition-table {
    @include adaptive-value("margin-bottom", 78, 25, 1);

    @media (min-width: 769px) {
        padding-top: 95px;
        padding-bottom: 54px;
        background-color: #e9fcff;
    }

    .text-accent {
        @include adaptive-value("margin-bottom", 60, 23, 1);
    }
}

.nutrition-diagram {
    @include adaptive-value("margin-bottom", 122, 15, 1);

    @media (max-width: 768px) {
        @include adaptive-value("padding-top", 80, 18, 1);
        @include adaptive-value("padding-bottom", 80, 28, 1);
        background-color: rgba($color: $accent, $alpha: 0.1);
    }

    .text-accent {
        @include adaptive-value("margin-bottom", 40, 14, 1);
    }

    .grid {
    }
}

.nutrition-mass {
    @media (min-width: 769px) {
        padding-top: 87px;
        padding-bottom: 143px;
        background-color: #e9fcff;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        @include adaptive-value("margin-bottom", 80, 31, 1);
    }

    .section__body {
        position: relative;
    }

    // .nutrition-mass__title

    &__title {
        color: $blue;
        text-align: center;
        @include adaptive-value("margin-bottom", 68, 15, 1);

        @include adaptive-value("font-size", 32, 16, 1);
    }

    // .nutrition-mass__flex

    &__flex {
        display: flex;
        justify-content: center;
        gap: 165px;
        z-index: 1;
        position: relative;

        @media (max-width: 1024px) {
            gap: 20px;
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 43px;
        }
    }
    // .nutrition-mass__graphic

    &__graphic {
        width: 395px;
        height: 395px;
        flex: 0 0 auto;
        position: relative;

        @media (max-width: 1024px) {
            width: 230px;
            height: 230px;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    // .nutrition-mass__list

    &__list {
        max-width: 427px;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            flex: unset;
            width: 100%;
            max-width: none;
        }

        ol {
            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 14, 4, 1);
            }

            & > :nth-child(2n) {
                background-color: rgba($color: $accent, $alpha: 0.1);
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                @include adaptive-value("font-size", 20, 10, 1);

                svg,
                img {
                    width: 20px;
                    height: 20px;
                    fill: currentColor;

                    @media (max-width: 768px) {
                        width: 14px;
                        height: 14px;
                    }
                }

                & > :nth-child(2) {
                    max-width: 200px;
                    flex: 1 1 auto;
                }

                & > :nth-child(3) {
                    width: 2em;
                    white-space: nowrap;

                    @media (max-width: 768px) {
                        width: 25%;
                    }
                }

                & > :nth-child(4) {
                    width: 3em;
                    white-space: nowrap;
                }
            }
        }
    }

    .params-info {
        position: relative;
        z-index: 1;
        margin-top: 98px;

        @include adaptive-value("margin-top", 90, 46, 1);

        p {
            @media (min-width: 769px) {
                line-height: 1.6;
            }

            @include adaptive-value("font-size", 20, 10, 1);
        }
    }

    // .nutrition-mass__img

    &__img {
        position: absolute;
        right: -248px;
        bottom: 106px;
        width: 664px;
        z-index: 0;
        max-width: none;

        @media (max-width: 1024px) {
            width: 50%;
            right: unset;
            left: -30px;
            bottom: unset;
            top: 30%;
        }

        @media (max-width: 768px) {
            top: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 376px;
        }
    }
}

.analisys {
    @include adaptive-value("margin-bottom", 113, 20, 1);

    .section__top {
        color: $blue;
        text-align: center;
        @include adaptive-value("margin-bottom", 66, 27, 1);

        h3 {
            @include adaptive-value("font-size", 32, 16, 1);
        }

        p {
            @include adaptive-value("font-size", 20, 12, 1);
            @include adaptive-value("margin-top", 30, 5, 1);
            font-weight: 600;
        }
    }

    table {
        @include adaptive-value("font-size", 20, 10, 1);

        thead {
            margin-bottom: 20px;
            color: $blue;

            @media (max-width: 768px) {
                display: none;
            }
        }

        th {
            font-weight: 500;
        }

        tbody {
            & > :not(:last-child) {
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #d9d9d9;
                }
            }

            tr {
                @media (min-width: 769px) {
                    border-radius: 20px;
                    background-color: $white;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
                    padding-top: 26px;
                    padding-bottom: 26px;
                }

                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    & > :nth-child(2n) {
                        background-color: rgba($color: $accent, $alpha: 0.1);
                    }
                }
            }
        }

        tr {
            @media (min-width: 769px) {
                display: grid;
                grid-template-columns: 24.65% 15.9% 15.9% 1fr;
                gap: 20px;
                padding-inline: 20px;
            }
        }

        td {
            svg,
            img {
                width: 1em;
                height: 1em;
                margin-top: 0.1em;
            }

            @media (max-width: 768px) {
                display: flex;
                gap: 10px;
            }

            label {
                display: none;
                width: 30%;
                flex: 0 0 auto;
                font-weight: 500;
                color: $blue;

                @media (max-width: 768px) {
                    display: block;
                }
            }

            & > span {
                @media (max-width: 768px) {
                    flex: 1 1 auto;
                }

                &:has(img, svg) {
                    display: flex;
                    gap: 0.25em;
                }
            }

            &:first-child {
                font-weight: 500;
                @include adaptive-value("font-size", 20, 12, 1);
            }

            &:last-child {
                @media (max-width: 768px) {
                    line-height: 1.2;
                }
            }
        }
    }
}

.analisys-table {
    @include adaptive-value("margin-bottom", 157, 25, 1);

    @media (min-width: 1024px) {
        background-color: rgba($color: $accent, $alpha: 0.1);
        @include adaptive-value("padding-top", 129, 30, 1);
        padding-bottom: 46px;
    }

    .section__body {
    }

    .scroll-wrapper {
        margin-bottom: 60px;
        position: relative;

        @media (max-width: 1024px) {
            margin-bottom: 0;
        }

        // .scroll-wrapper__table

        &__table {
            @media (max-width: 1024px) {
                width: 100vw;
                padding-inline: 12px;
                margin-left: -12px;
                overflow-x: auto;

                padding-top: 50px;
                padding-bottom: 10px;
                margin-top: -50px;
                margin-bottom: -10px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        // .scroll-wrapper__scrollbar

        &__scrollbar {
            display: none;
            position: absolute;
            bottom: 18px;
            left: 15px;
            width: calc(100% - 15px);
            border-radius: 100px;

            &._hide {
                opacity: 0;
                pointer-events: none;
            }

            @media (max-width: 1024px) {
                height: 10px;
                background: #d9d9d9;
                position: relative;
                pointer-events: none;
                display: block;
            }

            span {
                display: block;
                content: "";
                height: 10px;
                border-radius: 100px;
                left: 0;
                top: 0;
                position: absolute;
                background: #666666;
                width: 100%;
                width: 32px;

                background-image: url("@img/icons/scroll.svg");
                background-position: center 1.4px;
                background-repeat: no-repeat;
                background-size: 20px;
            }
        }
    }

    .table {
        background: $white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 44px;
        border-radius: 20px;

        @media (max-width: 1024px) {
            width: fit-content;
            border-radius: 10px;
            padding-top: 18px;
            padding-bottom: 38px;
            padding-inline: 15px;

            border-radius: 10px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        }
    }

    h3 {
        color: $blue;

        @include adaptive-value("font-size", 24, 14, 1);
        @include adaptive-value("margin-bottom", 40, 14, 1);

        @media (min-width: 769px) {
            text-align: center;
        }
    }

    table {
        display: table;
        border-collapse: collapse;

        thead {
            display: inherit;
            border: 1px solid #ebebeb;
            border-bottom: 0;
            color: $blue;

            @include adaptive-value("font-size", 16, 12, 1);

            th {
                font-weight: 500;
                padding: 0 10px;

                &[colspan] {
                    border-bottom: 1px solid #ebebeb;
                    text-align: center;
                }

                &:not(:last-child) {
                    border-right: 1px solid #ebebeb;
                }
            }
        }

        tbody {
            display: inherit;

            @include adaptive-value("font-size", 16, 10, 1);

            tr {
                border: 1px solid #ebebeb;

                &:not(:last-child) {
                    border-bottom: 0;
                }
            }
        }

        td,
        th {
            width: 7.435%;
            text-align: center;

            @media (max-width: 1024px) {
                min-width: 45px;
            }
        }

        th[rowspan],
        td {
            &:nth-child(1),
            &:nth-child(2) {
                width: 16.438%;
                text-align: left;

                @media (max-width: 1024px) {
                    min-width: 130px;
                }
            }
        }

        td {
            padding: 6px 10px;

            &:not(:last-child) {
                border-right: 1px solid #ebebeb;
            }

            &:has(img, svg) {
            }

            img,
            svg {
                display: inline-block;
                width: 1em;
                height: 1em;
                position: relative;
                top: 0.2em;
            }
        }
    }

    // .analisys-table__graphic

    &__graphic {
        margin-top: 17px;
        height: 455px;

        @media (max-width: 1024px) {
            margin-top: 10px;
            height: 290px;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    // .analisys-table__text

    &__text {
        @include adaptive-value("margin-top", 60, 10, 1);

        @include adaptive-value("font-size", 18, 10, 1);
        color: #7f7f7f;
    }
}

.analisys-tests {
    @include adaptive-value("margin-bottom", 153, 26, 1);

    .section__top {
        text-align: center;
        @include adaptive-value("margin-bottom", 53, 19, 1);

        h3 {
            color: $blue;
            @include adaptive-value("font-size", 32, 16, 1);
        }
    }

    .grid {
        @include adaptive-value("gap", 46, 10, 1);

        @media (min-width: 1025px) {
            padding: 25px 30px;
            border-radius: 20px;
            background: $white;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        }

        & > :last-child {
            @media (min-width: 769px) {
                @include adaptive-value("padding-top", 46, 10, 1);
                border-top: 1px solid #ebebeb;
            }
        }
    }
}

.conclusion {
    @include adaptive-value("margin-bottom", 145, 50, 1);

    .grid {
        @include adaptive-value("gap", 40, 10, 1);
    }

    .analisys-tests__item {
        @media (min-width: 1025px) {
            padding: 25px 30px;
            border-radius: 20px;
            background: $white;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        }

        div,
        li {
            @media (min-width: 1025px) {
                grid-template-columns: 42.5% 24% 1fr;
            }

            @media (max-width: 1024px) {
                grid-template-columns: 39% 39% 1fr;

                & > :nth-child(2) {
                    order: 2;
                    text-align: right;
                }
            }
        }
    }
}

.risks {
    @include adaptive-value("margin-bottom", 111, 21, 1);

    .text-accent {
        @include adaptive-value("margin-bottom", 57, 14, 1);
    }

    .grid {
        max-width: 1100px;
        margin-inline: auto;
    }

    // .risks-text

    &-text {
        @include adaptive-value("font-size", 16, 10, 1);
        @include adaptive-value("margin-top", 102, 14, 1);
        color: #7f7f7f;
    }
}

.final-conclusions {
    @include adaptive-value("margin-bottom", 158, 34, 1);
}

.nutritional-value {
    @include adaptive-value("margin-bottom", 84, 44, 1);

    @media (min-width: 1025px) {
        background-color: #e9fcff;
        @include adaptive-value("padding-bottom", 105, 30, 1);
    }

    .nutrition-table__item {
        & > :not(:last-child) {
            @media (min-width: 1025px) {
                margin-bottom: 40px;
            }
        }
    }
}

.nutritional-value__graphic {
    @include adaptive-value("margin-bottom", 127, 27, 1);
}

.nutrition-plan {
    @include adaptive-value("margin-bottom", 105, 44, 1);

    .tabs-content .tabs {
        @include adaptive-value("margin-top", 20, 12, 1);
        @include adaptive-value("margin-bottom", 40, 27, 1);
    }

    .text-accent {
        @include adaptive-value("margin-top", 40, 10, 1);
    }

    // .nutrition-plan__total

    &__total {
        @include adaptive-value("margin-top", 40, 10, 1);

        h3 {
            text-align: center;
            @include adaptive-value("margin-bottom", 26, 10, 1);
            @include adaptive-value("font-size", 22, 12, 1);
            text-transform: uppercase;
            color: $blue;

            @media (max-width: 768px) {
                text-align: left;
            }
        }

        .grid {
            max-width: 988px;
            margin-inline: auto;

            @media (max-width: 768px) {
                gap: 10px;
            }
        }

        .params-item {
            &__wrap {
            }

            .icon {
            }

            &__flex {
            }

            &__left {
            }

            &__right {
            }
        }
    }

    .section__body {
        position: relative;
    }

    // .nutrition-plan__img

    &__img {
        position: absolute;
        z-index: -1;
        opacity: 0.3;
        max-width: none;
        top: 0;

        @include adaptive-value("width", 907, 475, 1);

        @media (min-width: 769px) {
            @include adaptive-value("left", -229, 0, 1);
        }

        @media (max-width: 768px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.5;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #d3d3d3, $alpha: 0.5);
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            opacity: 0.56;
            object-position: center;
        }
    }
}

.shopping-list {
    position: relative;
    @include adaptive-value("padding-bottom", 96, 38, 1);
    margin-bottom: 0;

    .tabs-content .tabs {
        @include adaptive-value("margin-top", 20, 12, 1);
        @include adaptive-value("margin-bottom", 40, 27, 1);
    }

    .grid {
    }

    // .shopping-list__img

    &__img {
        position: absolute;
        width: 100%;
        height: 63%;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
        mix-blend-mode: darken;

        @media (max-width: 768px) {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
            object-position: center;
        }
    }
}

.recepies {
    margin-bottom: 0;
    @include adaptive-value("padding-bottom", 96, 33, 1);
    position: relative;

    // .recepies-img

    &-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        opacity: 0.2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .grid {
        @media (min-width: 769px) {
            @include adaptive-value("gap", 40, 10, 1);
        }
    }
}

.contacts {
    margin-bottom: 0;
    @include adaptive-value("padding-bottom", 201, 35, 1);

    background-color: rgba($color: #7fcefb, $alpha: 0.32);

    .section__linear {
        @include adaptive-value("margin-bottom", 116, 23, 1);
    }

    h3 {
        @include adaptive-value("font-size", 40, 12, 1);
        margin-bottom: 1em;
        color: $blue;

        @media (min-width: 769px) {
            text-align: center;
        }
    }

    // .contacts__content

    &__content {
        @include adaptive-value("font-size", 22, 10, 1);

        @media (min-width: 769px) {
            @include adaptive-value("margin-bottom", 104, 14, 1);
        }

        @media (max-width: 768px) {
            @include adaptive-value("margin-bottom", 60, 14, 1);
            @include adaptive-value("padding-bottom", 60, 14, 1);

            border-bottom: 1px solid #d9d9d9;
        }

        & > :not(:last-child) {
            margin-bottom: 1em;
        }
    }

    // .contacts__flex

    &__flex {
        max-width: 870px;
        margin-inline: auto;

        @media (min-width: 769px) {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        ol {
            max-width: 522px;
            @include adaptive-value("font-size", 20, 10, 1);

            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 28, 10, 1);
            }

            li {
                display: flex;
                gap: 16px;

                @media (max-width: 768px) {
                    gap: 10px;
                }

                img,
                svg {
                    width: 20px;
                    height: 20px;
                    flex: 0 0 auto;
                    fill: currentColor;

                    @media (max-width: 768px) {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        div {
            max-width: 310px;

            @media (max-width: 768px) {
                width: 202px;
                margin-inline: auto;
                @include adaptive-value("margin-top", 80, 16, 1);
            }

            img {
                border-radius: 20px;

                @media (max-width: 768px) {
                    border-radius: 10px;
                }
            }
        }
    }

    // .contacts__text

    &__text {
        @include adaptive-value("margin-top", 131, 16, 1);
        @include adaptive-value("font-size", 16, 10, 1);
        color: #7f7f7f;
    }

    // .contacts__container

    &__container {
    }

    // .contacts__body

    &__body {
    }
}
